
// SIZING
//

$container-width: 94%;
$container-max-width: 1200px;

// FONT STACKS
//

$body-font:      ('Roboto Slab', serif), normal, 400;
$bold-font:      ('Roboto Slab', serif), normal, 700;

// SPACING UNITS
//

$xx-large-unit:   38px;
$x-large-unit:    32px;
$large-unit:      24px;
$default-unit:    16px;
$small-unit:      12px;
$x-small-unit:    8px;
$xx-small-unit:   4px;

$button-width:    44px;

// GUTTERS
//

$large-gutter:    $large-unit;
$gutter:          $default-unit;
$small-gutter:    $x-small-unit;

$desktop-gutters: $gutter;

$site-gutters:
  (large, $large-gutter),
  (medium, $gutter),
  (small, $small-gutter)
;

// BREAKPOINTS
//

$breakpoint-big:     1200px;
$breakpoint-medium:  800px;
$breakpoint-small:   500px;

$site-breakpoints:
  (big, $breakpoint-big),
  (medium, $breakpoint-medium),
  (small, $breakpoint-small)
;

// COLORUS
//

$white:             #f6f6f6;

$light-grey:        #ddd;
$grey:              #ccc;
$dark-grey:         #222;

$blue:              #0000ff;
$dark-blue:         darken($blue,10);

$foreground-color:  #222;
$background-color:  $light-grey;
$link-color:        $blue;
$link-hover:        $dark-blue;
