@font-face {
  font-family: 'icomoon';
  src:url('/assets/fonts/icomoon.eot?-w0reth');
  src:url('/assets/fonts/icomoon.eot?#iefix-w0reth') format('embedded-opentype'),
    url('/assets/fonts/icomoon.woff?-w0reth') format('woff'),
    url('/assets/fonts/icomoon.ttf?-w0reth') format('truetype'),
    url('/assets/fonts/icomoon.svg?-w0reth#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e601";
}
.icon-google-plus:before {
  content: "\e602";
}
.icon-steam:before {
  content: "\e603";
}
.icon-forrst:before {
  content: "\e604";
}
.icon-linkedin:before {
  content: "\e605";
}
.icon-reddit:before {
  content: "\e606";
}
.icon-lastfm:before {
  content: "\e607";
}
.icon-facebook:before {
  content: "\e608";
}