@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/columns";
@import "compass/css3/filter";

$portfolio-gutter: 1px;
$portfolio-stacked-gutter: 10px;

// Hiding portfolio sections by default
.portfolio_websites {
  display: none;
}

// Portfolio filter selection
.portfolio-nav {
  ul {
    text-align: center;
    @include pie-clearfix;
    margin-bottom: $portfolio-gutter;
  }

  li {
    width: 50%;
    float: left;
  }

  li + li {
    padding-left: $portfolio-gutter;
  }

  li:first-child a {
    float: right;
  }

  li:last-child a {
    float: left;
  }

  a {
    display: block;
    padding: $x-small-unit $default-unit;
    background: $grey;
  }
}

.portfolio {

  ul {
    @include pie-clearfix;
    clear: both;
    margin-right: -($portfolio-gutter);
  }

  li {
    float: left;
    width: 25%;
    padding: $portfolio-gutter $portfolio-gutter 0 0;

    @include media-query(medium) {
      width: 50%;
    }

    @include media-query(small) {
      width: 100%;
      padding-bottom: $portfolio-stacked-gutter;
    }
  }

}

.portfolio--tile {
  display: block;
  background: $dark-blue;
  @include color-link($white,$white);
  height: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
  @include transition(all .8s);

  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  .portfolio--tile--title {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 0 1em;
    display: none;
    vertical-align: middle;

    strong,small {
      display: block;
    }

    strong {
      font-size: 2em;
      @include font($bold-font);
      line-height: 0.8em;
      margin-bottom: 6px;
    }

    small {
      text-transform: uppercase;
      font-size: 0.8em;
    }

    .touch & {
      display: block;
      position: absolute;
      left: 0;
      bottom: 1em;
      text-align: left;
      z-index: 10;
    }
  }

  .portfolio--tile--thumbnail {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    z-index: 2;
    @include transition(all .2s);
    @include transform(scale(1));
  }

  &:hover .portfolio--tile--thumbnail {
    @include opacity(0.2);
    @include transform(scale(1.4));
    @include transition(all .2s);
    // @include filter(blur(2px));
  }

  &:hover .portfolio--tile--title {
    display: inline-block;
  }

  .touch & .portfolio--tile--thumbnail,
  .touch &:hover .portfolio--tile--thumbnail {
    @include opacity(0.2);
    @include transform(scale(1));
    @include filter(blur(0));
  }
}

.portfolio_full {

  .porfolio--header {
    @include font($bold-font);
    margin: $large-unit 0 $xx-large-unit;
    position: relative;

    h2 {
      font-size: 3.5em;
      text-align: center;
      padding: 0 70px;
      line-height: 0.9em;

      @include media-query(small) {
        font-size: 2em;
      }
    }

    .portfolio--nav {
      position: absolute;
      top: 50%;
      margin-top: -6px;
      font-size: 1.5em;

      span {
        display: none;
      }

      &:hover span {
        display: inline;
      }

    }

    .porfolio--prev {
      left: 0;
    }

    .portfolio--next {
      right: 0;
    }
  }

  .portfolio--images {
    text-align: center;
    position: relative;
    margin-bottom: $large-unit;
    // @include box-shadow(0 0 10px rgba(0,0,0,0.2));

    .fotorama__stage {
      background: $dark-grey;
    }

    .fotorama__nav-wrap {
      margin-top: 1px;
      background: $dark-blue;
    }

    .fotorama__thumb-border {
      border-color: $blue;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .portfolio--meta {
    float: right;
    width: 25%;
    color: $grey;
    padding-left: $default-unit;
    width: auto;

    @include media-query(medium) {
      float: none;
      padding: 0 0 $default-unit 0;
    }
  }

  .portfolio--description {
    font-size: 1.1em;
    line-height: 1.8em;
    @include columns(20em 2);
    @include column-gap($default-unit);

    @include media-query(small) {
      font-size: 1em;
    }

    p {
      margin-bottom: 0.5em;
    }
  }

}