<header class="wrapper header">
  <a href="/" class="header-logo">
    <img src="/assets/logo.png" height="50" />
  </a>
</header>

<main class="wrapper main" role="main">
  {{outlet}}
</main>

<footer class="wrapper footer-links">
  <ul>
    <li><a href="https://github.com/dbaines/">Github</a></li>
    <li><a href="https://plus.google.com/111899808287826916560?rel=author">Google+</a></li>
    <li><a href="http://forr.st/-dbaines">Forrst</a></li>
    <li><a href="http://reddit.com/user/dbaines/">Reddit</a></li>
    <li><a href="http://steamcommunity.com/id/baines">SteamCommunity</a></li>
    <li><a href="http://last.fm/user/dBaines">Audioscrobbler</a></li>
    <li><a href="http://facebook.com/dbaines">Facebook</a></li>
    <li><a href="http://linkedin.com/profile/view?id=94729829">LinkedIn</a></li>
  </ul>
</footer>