<header class="wrapper header">
  <a href="/" class="header-logo">
    <img src="/assets/logo.png" height="50" />
  </a>
</header>

<main class="wrapper main" role="main">
  {{outlet}}
</main>

<footer class="wrapper footer-links">
  <ul>
    <li><a href="https://github.com/dbaines/" class="icon-github"><span>Github</span></a></li>
    <li><a href="https://plus.google.com/111899808287826916560?rel=author" class="icon-google-plus"><span>Google+</span></a></li>
    <li><a href="http://forr.st/-dbaines" class="icon-forrst"><span>Forrst</span></a></li>
    <li><a href="http://reddit.com/user/dbaines/" class="icon-reddit"><span>Reddit</span></a></li>
    <li><a href="http://steamcommunity.com/id/baines" class="icon-steam"><span>SteamCommunity</span></a></li>
    <li><a href="http://last.fm/user/dBaines" class="icon-lastfm"><span>Audioscrobbler</span></a></li>
    <li><a href="http://facebook.com/dbaines" class="icon-facebook"><span>Facebook</span></a></li>
    <li><a href="http://linkedin.com/profile/view?id=94729829" class="icon-linkedin"><span>LinkedIn</span></a></li>
  </ul>
</footer>