<!-- @if dist=false -->
<h1>Sorry, Something went wrong</h1>
{{message}}
<pre>
{{stack}}
</pre>
<!-- @endif -->

<div class="portfolio_full error">

  <div class="porfolio--header">
    <h2 class="heading-two">Error</h2>
  </div>
  <div class="content error--content">
    <p>The page you were looking for isn't here any more. Maybe it was never here to begin with.</p>
  </div>
</div>