<div class="grid portfolio">

  <ul>
    {{#each}}
      <li>
        {{#link-to 'project' this class="portfolio--tile"}}
          <img {{bind-attr src=this.thumbnailPath}} class="portfolio--tile--thumbnail" />
          <span class="portfolio--tile--title">
            <strong>{{this.title}}</strong>
            {{#if this.tags}}
              <small>{{this.tags}}</small>
            {{/if}}
          </span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

</div>
