<nav class="portfolio-nav">
  <ul>
    <li><a href="#">Websites</a></li>
    <li><a href="#">Artwork</a></li>
  </ul>
</nav>
<div class="grid portfolio">

  <ul>
    {{#each}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>

</div>