<div class="project_full">
  <h2 class="heading-two">{{title}}</h2>
  <nav class="project--bar">
    <ul>
      <li><a href="#">Previous</a></li>
      <li><a href="#">Next</a></li>
      <li class="project--close"><a href="#">Close project</a></li>
    </ul>
  </nav>
  <div class="project--container">
    <div class="project--images">
      {{outlet}}
    </div>
    <div class="project--description">
      {{description}}
    </div>
  </div>
</div>